/* estilos.css */

header {
    display: flex;
    align-items: center;
    background-color: #0099CC;
    color: white;
    padding: 10px 0;
    justify-content: flex-start;
}

body {
    background-image: url('https://images7.alphacoders.com/596/596555.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#logo {
    width: 150px;
    margin-right: 20px;
}

h1 {
    flex-grow: 0;
    font-size: 2em;
    margin-right: 150px;
    font-family: 'FuenteDeseada', Arial, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

nav {
    flex-grow: 2;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; 
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    color: white;
    font-family: 'FuenteDeseada', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

#servicios-purificacion {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#servicios-purificacion .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#servicios-purificacion .process-description {
    flex-basis: 50%;
}

#servicios-purificacion .process-diagram {
    flex-basis: 50%;
}

#servicios-purificacion h2 {
    color: #005082;
    margin-bottom: 15px;
}

#servicios-purificacion ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#servicios-purificacion ul li {
    margin-bottom: 10px;
}

#servicios-purificacion button {
    background-color: #0077AA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#servicios-purificacion button:hover {
    background-color: #005f7a;
}

#informacion-adicional {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.columna {
    flex-basis: 30%;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.columna h3 {
    margin-top: 0;
}

.columna img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

section {
    padding: 100px;
    margin: 20px 0;
}

footer {
    background-color: #0077AA;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.process-diagram img {
    max-width: 90%;
    height: auto;
}

.image-title {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#photoPanel {
    display: flex;
    justify-content: space-between;
}

.thumbnail-container {
    position: relative;
    width: calc(33.33% - 20px);
    height: auto;
    overflow: hidden;
}

.thumbnail, .full-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

.full-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.thumbnail-container:hover .full-image {
    opacity: 1;
}

.nav-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
}

.whatsapp-btn {
    width: 70px;
    height: 70px;
    margin-left: 150px;
    background-color: green;
}

.nav-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-section {
    padding: 50px 0;
    text-align: center;
}

.services-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.services-section ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}

.services-section ul li {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    padding-left: 20px;
}

.services-section ul li::before {
    content: "\2022";
    position: absolute;
    left: 0;
    color: #0077AA;
    font-size: 1.2em;
    line-height: 1.5em;
}

.order-service-link {
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 15px 30px;
    background-color: #0077AA;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.order-service-link:hover {
    background-color: #005f7a;
    transform: scale(1.05);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    flex: 1;
}

.image-container {
    flex-basis: 50%;
}

.order-service-link {
    display: inline-block;
    font-size: 24px;
    padding: 15px 30px;
    background-color: #0077AA;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.order-service-link:hover {
    background-color: #005f7a;
    transform: scale(1.05);
}

.process-diagram {
    position: relative;
}

.process-diagram img {
    width: 100%;
    display: block;
}

h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

ul {
    font-size: 24px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

#informacion-adicional {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.columna {
    flex: 1;
    text-align: center;
}

h3 {
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.location-image-container img,
.horario img,
#promociones img {
    max-width: 100%;
    height: auto;
}

#ubicacion h3 {
    color: #007BFF;
}

#horario h3 {
    color: #0056b3;
}

#promociones h3 {
    color: #0080ff;
}

.location-image-container img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
}

ul {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-container {
    flex: 1;
    padding-right: 200px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text-container h2, .text-container ul, .text-container a {
    text-align: center;
}

.text-container ul {
    list-style-type: disc;
    padding-left: 0;
}

.order-service-link {
    display: block;
    margin-top: 20px;
}

.dispenser-link {
    display: block;
    margin-top: 20px;
}

.dispenser-image {
    width: 100%;
    height: auto;
    max-width: 600px;
    transition: transform 0.3s ease-in-out;
}

.dispenser-image:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#servicios-purificacion .process-diagram {
    flex-basis: 100%; /* Aumentamos el espacio del contenedor del diagrama */
}

.process-diagram img {
    width: 1000%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}



nav ul li a {
    color: white;
    font-family: 'FuenteDeseada', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none; /* Quitamos el subrayado predeterminado */
    transition: color 0.3s; /* Efecto de transición para el cambio de color */
    display: inline-block; /* Convertimos el enlace en un bloque */
    padding: 10px 15px; /* Espacio alrededor del texto */
}

nav ul li a:hover {
    color: #ddd; /* Cambiamos el color al pasar el mouse */
}

.whatsapp-btn {
    display: inline-flex;
    width: 95px;
    height: 95px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent; /* Fondo transparente solo para el botón de WhatsApp */
}

.whatsapp-btn img {
    width: 100%; /* Ajustamos la imagen para que ocupe todo el ancho del botón */
    height: auto; /* Mantenemos la proporción de la imagen */
    display: block;
}
.nav-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    transition: transform 0.3s; /* Añadimos una transición suave */
}

.nav-btn img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilo específico para el botón de WhatsApp */
.whatsapp-btn {
    transition: transform 0.3s; /* Añadimos la misma transición al botón de WhatsApp */
}

/* Escala del botón al pasar el mouse */
.nav-btn:hover,
.whatsapp-btn:hover {
    transform: scale(1.1); /* Escalamos el botón al 110% */
}

#mission-vision {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos al inicio */
}

.mission,
.vision {
    flex: 1;
    padding: 20px;
}

.mission h2,
.vision h2 {
    color: #0077AA;
    font-size: 2em;
    margin-bottom: 20px;
    display: flex; /* Para alinear los ítems verticalmente */
    align-items: center; /* Centra verticalmente los ítems */
    justify-content: center; /* Centra el contenido horizontalmente */
}

.mission h2::before,
.vision h2::before {
    content: "\2022"; /* Código del bullet • */
    color: #0077AA;
    margin-right: 10px;
    font-size: 1.5em;
}

.mission p,
.vision p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    text-align: center; /* Centra el texto */
}
#servicios-purificacion .process-diagram img {
    width: 130%; /* Aseguramos que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantenemos la proporción de la imagen */
    max-width: none; /* Quitamos el ancho máximo establecido anteriormente */
}

/* Estilos específicos para el público objetivo */

#servicioSection {
    padding: 40px;
    text-align: center;
    background-color: #f7f7f7;
}

.info-box {
    margin-bottom: 25px;
}

.info-box label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.info-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s;
}

.info-box input:focus {
    border-color: #0077AA;
    outline: none;
}

.order-btn {
    background-color: #0077AA;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.order-btn:hover {
    background-color: #005f7a;
    transform: scale(1.05);
}

footer {
    background-color: #0077AA;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-info p {
    margin-bottom: 10px;
    font-size: 18px;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    margin-right: 15px;
    transition: opacity 0.3s;
}

.social-icons a:hover {
    opacity: 0.7;
}

/* Estilos específicos para el público objetivo */

#servicioSection {
    padding: 40px;
    text-align: center;
    background-color: #f7f7f7;
}

.info-box {
    margin-bottom: 25px;
}

.info-box label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.info-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s;
}

.info-box input:focus {
    border-color: #0077AA;
    outline: none;
}

.order-btn {
    background-color: #0077AA;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.order-btn:hover {
    background-color: #005f7a;
    transform: scale(1.05);
}

/* Estilos específicos para el público objetivo */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajusta la altura según tus necesidades */
    background-color: #0099CC; /* Color del panel de navegación superior */
    color: white; /* Color de texto blanco para contraste */
    margin-top: 20px; /* Espacio superior para evitar superposición */
}

.footer-info {
    text-align: center; /* Centrar el texto */
}
